* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;
}

.custom-height {
	height: 50%;
}

.image-container > :first-child {
	transition: filter 0.3s ease;
	cursor: pointer;
}

.image-container > :last-child {
	opacity: 0;
	transition: .3s ease;
	background-color: rgba(223, 224, 225, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 5rem;
}

.image-container:hover > :first-child {
	filter: brightness(0.9);
}

.image-container:hover > :last-child {
	opacity: 1;
}


@media screen and (max-width: 575px) {
	:root {
		font-size: 15px;
	}
}

@media screen and (min-width: 1440px) {
	:root {
		font-size: 22px;
	}
}

@media screen and (min-width: 2000px) {
	:root {
		font-size: 32px;
	}
}